<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Image to PDF </title>
</head>
<body>
    <h1>Image to PDF Converter</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
            <label class="fileContainer btn btn-danger">
                    Upload a file
                    <input type="file" name="ocrFile" class="upload"  />
            </label>
            
        
        <button type="submit" class="btn btn-primary">Convert</button>
    </form>
</body>
</html>